  
<nav class="nav">
  
    <ul class="navbar-ul">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a> </li>

        
          <li class="nav-item">
            <a class="nav-link" href="/posts/new">new post</a>
          </li>
        
       
     
     
         
      <li class="nav-item">
        <a class="nav-link" href="/auth/login"> login</a>
      </li>
      
      <li class="nav-item">
        <a href="/auth/register" class="nav-link"> register</a>
        

          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">logout</a>
          </li>
     
      </li>
      
     

     
     
    </ul>
  </nav>
